blockquote {
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel Decorative",
    cursive
}
p {
    font-family: "Montserrat",
        sans-serif
}
.col {
    h3, h4 {
       font-family: "Montserrat",
       sans-serif
    }
}
.carousel-item {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }
}