a {
    text-decoration: none !important;
}
blockquote {
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel Decorative",
    cursive
}
p,
li {
    font-family: "Montserrat",
        sans-serif
}
.col {
    h3, h4 {
       font-family: "Montserrat",
       sans-serif
    }
}
.carousel-item {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }
}
span {
    font-family: "Montserrat";
    background-color: rgba(204, 119, 34, 0.7);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border: none;
    font-size: 2rem;

    &:hover {
        background-color: rgba(204, 119, 34, 0.7);
        border: none;
        font-weight: 700;
    }
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    visibility: hidden;
}